*~
bin
parts
coverage
eggs
sources
build
dist
venv
.installed.cfg
develop-eggs
var/*
*.egg-info
*.pyc
*.pyo
*.bak
*.egg
*.tar.gz
*.so
.tox
.DS_Store
.coverage
.noseids
docs/_build/
nosetests.xml
cover