*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.idea
.installed.cfg
.noseids
.tox
.vimrc
aiohttp/_multidict.c
aiohttp/_multidict.html
aiohttp/_http_parser.c
bin
build
cover
coverage
develop-eggs
dist
docs/_build/
eggs
include/
lib/
man/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
aiohttp/_websocket.c
aiohttp/_websocket.html
.install-deps
.develop
.gitconfig
.flake
