repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(bugfix|feature|removal|doc|misc)(.#)?(.rst)?
    exclude: >-
      ^CHANGES/(\.TEMPLATE\.rst|\.gitignore|\d+\.(bugfix|feature|removal|doc|misc)(\.\d+)?(\.rst)?|README\.rst)$
    files: ^CHANGES/
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types: [file, rst]
  - id: check-changes
    name: Check CHANGES
    language: system
    entry: ./tools/check_changes.py
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.0.1'
  hooks:
  - id: check-merge-conflict
- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
- repo: https://github.com/PyCQA/isort
  rev: '5.9.3'
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: '21.10b0'
  hooks:
    - id: black
      language_version: python3 # Should be a command that runs python3.6+
- repo: https://github.com/jazzband/pip-tools
  rev: 6.4.0
  hooks:
  - id: pip-compile
    name: pip-compile cython.in
    args: [requirements/cython.in]
    files: ^requirements/cython\.(in|txt)$
  - id: pip-compile
    name: pip-compile dev.in
    args: [requirements/dev.in]
    files: ^requirements/dev\.(in|txt)$
  - id: pip-compile
    name: pip-compile doc-spelling.in
    args: [requirements/doc-spelling.in]
    files: ^requirements/doc-spelling\.(in|txt)$
  - id: pip-compile
    name: pip-compile lint.in
    args: [requirements/lint.in]
    files: ^requirements/lint\.(in|txt)$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.0.1'
  hooks:
  - id: end-of-file-fixer
    exclude: >-
      ^docs/[^/]*\.svg$
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements/(cython|dev|doc-spelling|lint).txt$
  - id: trailing-whitespace
  - id: file-contents-sorter
    files: |
      CONTRIBUTORS.txt|
      docs/spelling_wordlist.txt|
      .gitignore|
      .gitattributes
  - id: check-case-conflict
  - id: check-json
  - id: check-xml
  - id: check-executables-have-shebangs
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: check-added-large-files
  - id: check-symlinks
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: ['--remove']
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
    exclude: ^examples/
- repo: https://github.com/asottile/pyupgrade
  rev: 'v2.29.0'
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']
- repo: https://github.com/PyCQA/flake8
  rev: '4.0.1'
  hooks:
  - id: flake8
    exclude: "^docs/"
- repo: git://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^[^/]+[.]rst$
    exclude: >-
      ^CHANGES\.rst$
ci:
  skip:
  - pip-compile
