sudo: no

language: python
python:
  - 3.3
  - 3.4
  - 3.5

install:
  - pip install --upgrade setuptools
  - pip install cython
  - pip install flake8
  - pip install docutils
  - pip install coverage
  - pip install gunicorn
  - pip install pygments
  - python setup.py develop

script:
  - flake8 aiohttp examples tests
  - coverage run --source=aiohttp setup.py test
  - python setup.py check -rm

env:
  matrix:
    - PYTHONASYNCIODEBUG=1 AIOHTTP_NO_EXTENSIONS=0
    - PYTHONASYNCIODEBUG=0 AIOHTTP_NO_EXTENSIONS=0
    - PYTHONASYNCIODEBUG=1 AIOHTTP_NO_EXTENSIONS=1
    - PYTHONASYNCIODEBUG=0 AIOHTTP_NO_EXTENSIONS=1
