sudo: false

language: python

_helpers:
- &mainstream_python 3.6
- &_mainstream_python_base
  python: *mainstream_python
- &_doc_base
  stage: doc
  <<: *_mainstream_python_base
  after_failure: cat docs/_build/spelling/output.txt
  addons:
    apt:
      packages:
      - enchant

# doesn't work on MacOSX out of the box -- the system has no Python installed
# there's a workaround to use `language: generic` and install it, but it's slow
os: linux

jobs:
  fast_finish: true
  allow_failures:
  - python: 3.6-dev
  - python: nightly

  include:
  # python3.4.2 has bug in http.cookies module, aiohttp provides fix
  - python: 3.4.2
  - python: 3.4.3
  - python: 3.5.2
  # - 3.5.3
  - python: 3.5
  - <<: *_mainstream_python_base
  - python: 3.6-dev
  - python: nightly

  - <<: *_doc_base
    script:
    - make doc
  - <<: *_doc_base
    script:
    - make doc-spelling

  - stage: deploy (PYPI upload itself runs only for tagged commits)
    python: *mainstream_python
    services:
    - docker
    install: skip
    script:
    - ./tools/run_docker.sh "aiohttp"
    after_success: skip
    deploy:
      provider: pypi
      user: andrew.svetlov
      password:
        secure: ZQKbdPT9BlNqP5CTbWRQyeyig7Bpf7wsnYVQIQPOZc9Ec74A+dsbagstR1sPkAO+d+5PN0pZMovvmU7OQhSVPAnJ74nsN90/fL4ux3kqYecMbevv0rJg20hMXSSkwMEIpjUsMdMjJvZAcaKytGWmKL0qAlOJHhixd1pBbWyuIUE=
      distributions: sdist
      on:
        tags: true
        all_branches: true

cache: pip

before_cache: rm -f $HOME/.cache/pip/log/debug.log

install:
  - pip install --upgrade pip setuptools wheel
  - pip install -U -r requirements/ci.txt

script:
  - make cov-dev-full

after_success:
  - codecov
