sudo: no

language: python
python:
  - 3.4
  - 3.5

cache:
  directories:
  - $HOME/.cache/pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

install:
  - pip install --upgrade pip wheel
  - pip install --upgrade setuptools
  - pip install -r requirements-dev.txt
  - pip install coveralls

script:
  - flake8 aiohttp
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        flake8 examples tests;
    fi
  - py.test --cov=aiohttp tests
  - python setup.py check -rm
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        python setup.py check -s;
    fi

after_success:
  coveralls

env:
  matrix:
    # PYTHONASYNCIODEBUG and AIOHTTP_NO_EXTENSIONS environment variables
    # are considered as enabled if they are any non empty strings.
    - PYTHONASYNCIODEBUG=X AIOHTTP_NO_EXTENSIONS=
    - PYTHONASYNCIODEBUG=  AIOHTTP_NO_EXTENSIONS=
    - PYTHONASYNCIODEBUG=X AIOHTTP_NO_EXTENSIONS=X
    - PYTHONASYNCIODEBUG=  AIOHTTP_NO_EXTENSIONS=X
