language: python
python:
  - 3.3
  - 3.4

install:
  - pip install --upgrade setuptools
  - pip install flake8
  - pip install docutils
  - python setup.py develop

script:
  - flake8 aiohttp examples tests
  - coverage run --source=aiohttp setup.py test
  - python setup.py check -rms

env:
  matrix:
    - PYTHONASYNCIODEBUG=1
    - PYTHONASYNCIODEBUG=0
