sudo: required
services:
  - docker

language: python

python:
  - 3.4
  - 3.5
#  - nightly

os:
  - linux
#  - osx

cache:
  directories:
  - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

install:
  - sudo apt-get install enchant
  - pip install --upgrade pip wheel
  - pip install --upgrade setuptools
  - pip install -r requirements-ci.txt
  - pip install aiodns
  - pip install codecov
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        pip install uvloop;
    fi
  - pip install sphinxcontrib-spelling

script:
  - flake8 aiohttp
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        flake8 examples tests;
    fi

  # PYTHONASYNCIODEBUG and AIOHTTP_NO_EXTENSIONS environment variables
  # are considered as enabled if they are any non empty strings.
  - PYTHONASYNCIODEBUG=X AIOHTTP_NO_EXTENSIONS=X py.test --cov=aiohttp tests 
  - PYTHONASYNCIODEBUG=X py.test --cov=aiohttp tests --cov-append 
  - AIOHTTP_NO_EXTENSIONS=X py.test --cov=aiohttp tests --cov-append 
  - py.test --cov=aiohttp tests --cov-append 

  - python setup.py check -rm
  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        python setup.py check -s;
    fi

  - if python -c "import sys; sys.exit(sys.version_info < (3,5))"; then
        make doc;
        make doc-spelling;
    fi

after_success:
  - codecov
  - ./run_docker.sh

deploy:
  provider: pypi
  user: andrew.svetlov
  password:
    secure: ZQKbdPT9BlNqP5CTbWRQyeyig7Bpf7wsnYVQIQPOZc9Ec74A+dsbagstR1sPkAO+d+5PN0pZMovvmU7OQhSVPAnJ74nsN90/fL4ux3kqYecMbevv0rJg20hMXSSkwMEIpjUsMdMjJvZAcaKytGWmKL0qAlOJHhixd1pBbWyuIUE=
  distributions: "sdist"
  on:
    tags: true
    all_branches: true
    python: 3.5
