include LICENSE.txt
include CHANGES.rst
include README.rst
include CONTRIBUTORS.txt
include Makefile
graft aiohttp
graft docs
graft examples
graft tests
graft tools
graft requirements
recursive-include vendor *
global-include aiohttp *.pyi
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.so
global-exclude *.lib
global-exclude *.dll
global-exclude *.a
global-exclude *.obj
exclude aiohttp/*.html
prune docs/_build
