include LICENSE.txt
include CHANGES.rst
include README.rst
include CONTRIBUTORS.txt
include Makefile
graft aiohttp
graft docs
graft examples
graft tests
global-exclude *.pyc
exclude aiohttp/_frozenlist.html
exclude aiohttp/_frozenlist.*.so
exclude aiohttp/_frozenlist.pyd
exclude aiohttp/_frozenlist.*.pyd
exclude aiohttp/_websocket.html
exclude aiohttp/_websocket.*.so
exclude aiohttp/_websocket.pyd
exclude aiohttp/_websocket.*.pyd
prune docs/_build
