pip
flake8
pyflakes==1.1.0
coverage
sphinx
alabaster>=0.6.2
cython
chardet
tox
sphinxcontrib-newsfeed
pytest>=2.9.2
py>=1.4.31
pytest-cov
gunicorn
pygments>=2.1
#aiodns  # Enable from .travis.yml as required c-ares will not build on windows
twine
-e .
