pip
flake8
pyflakes
coverage
cchardet
sphinx
cython
chardet
isort
tox==2.3.1
multidict
async_timeout
sphinxcontrib-asyncio
sphinxcontrib-newsfeed
pytest
pytest-cov
pytest-mock
pytest-timeout
gunicorn
pygments>=2.1
#aiodns  # Enable from .travis.yml as required c-ares will not build on windows
twine
yarl
-e .
