aiodns==3.0.0 ; sys_platform == "linux" or sys_platform == "darwin"
    # via -r requirements/base.txt
aiohttp-theme==0.1.6
    # via -r requirements/doc.txt
aioredis==2.0.1
    # via -r requirements/lint.txt
aiosignal==1.2.0
    # via -r requirements/base.txt
alabaster==0.7.12
    # via sphinx
async-timeout==4.0.2
    # via
    #   -r requirements/base.txt
    #   aioredis
attrs==21.2.0
    # via pytest
babel==2.9.1
    # via sphinx
backports-entry-points-selectable==1.1.0
    # via virtualenv
blockdiag==2.0.1
    # via sphinxcontrib-blockdiag
brotli==1.0.9
    # via
    #   -r requirements/base.txt
    #   -r requirements/test.txt
cchardet==2.1.7
    # via -r requirements/base.txt
certifi==2021.10.8
    # via requests
cffi==1.15.0
    # via
    #   cryptography
    #   pycares
cfgv==3.3.1
    # via pre-commit
charset-normalizer==2.0.12
    # via
    #   -r requirements/base.txt
    #   requests
cherry-picker==2.1.0
    # via -r requirements/dev.txt
click==8.0.3
    # via
    #   cherry-picker
    #   click-default-group
    #   pip-tools
    #   slotscheck
    #   towncrier
    #   typer
    #   wait-for-it
click-default-group==1.2.2
    # via towncrier
coverage==6.2
    # via
    #   -r requirements/test.txt
    #   pytest-cov
cryptography==36.0.1 ; platform_machine != "i686"
    # via
    #   -r requirements/test.txt
    #   pyjwt
    #   trustme
cython==0.29.27
    # via -r requirements/cython.txt
distlib==0.3.3
    # via virtualenv
docutils==0.17.1
    # via sphinx
filelock==3.3.2
    # via virtualenv
freezegun==1.1.0
    # via -r requirements/test.txt
frozenlist==1.3.0
    # via
    #   -r requirements/base.txt
    #   aiosignal
funcparserlib==1.0.0a0
    # via
    #   -r requirements/doc.txt
    #   blockdiag
gidgethub==5.0.1
    # via cherry-picker
gunicorn==20.1.0
    # via -r requirements/base.txt
identify==2.3.3
    # via pre-commit
idna==3.3
    # via
    #   requests
    #   trustme
    #   yarl
imagesize==1.2.0
    # via sphinx
incremental==21.3.0
    # via towncrier
iniconfig==1.1.1
    # via pytest
jinja2==3.0.2
    # via
    #   sphinx
    #   towncrier
markupsafe==2.0.1
    # via jinja2
multidict==5.2.0
    # via
    #   -r requirements/multidict.txt
    #   yarl
mypy==0.931 ; implementation_name == "cpython"
    # via
    #   -r requirements/lint.txt
    #   -r requirements/test.txt
mypy-extensions==0.4.3 ; implementation_name == "cpython"
    # via
    #   -r requirements/test.txt
    #   mypy
nodeenv==1.6.0
    # via pre-commit
packaging==21.2
    # via
    #   pytest
    #   sphinx
pep517==0.12.0
    # via pip-tools
pillow==9.0.1
    # via blockdiag
pip-tools==6.5.0
    # via -r requirements/dev.txt
platformdirs==2.4.0
    # via virtualenv
pluggy==1.0.0
    # via pytest
pre-commit==2.17.0
    # via -r requirements/lint.txt
proxy-py==2.4.0rc6
    # via -r requirements/test.txt
py==1.10.0
    # via pytest
pycares==4.1.2
    # via aiodns
pycparser==2.20
    # via cffi
pydantic==1.8.2
    # via python-on-whales
pyenchant==3.2.2
    # via sphinxcontrib-spelling
pygments==2.11.0
    # via sphinx
pyjwt==2.3.0
    # via gidgethub
pyparsing==2.4.7
    # via packaging
pytest==6.2.5
    # via
    #   -r requirements/lint.txt
    #   -r requirements/test.txt
    #   pytest-cov
    #   pytest-mock
pytest-cov==3.0.0
    # via -r requirements/test.txt
pytest-mock==3.6.1
    # via -r requirements/test.txt
python-dateutil==2.8.2
    # via freezegun
python-on-whales==0.36.1
    # via -r requirements/test.txt
pytz==2021.3
    # via babel
pyyaml==6.0
    # via pre-commit
re-assert==1.1.0
    # via -r requirements/test.txt
regex==2021.11.2
    # via re-assert
requests==2.26.0
    # via
    #   cherry-picker
    #   python-on-whales
    #   sphinx
setuptools-git==1.2
    # via -r requirements/test.txt
six==1.16.0
    # via
    #   python-dateutil
    #   virtualenv
slotscheck==0.8.0
    # via -r requirements/lint.txt
snowballstemmer==2.1.0
    # via sphinx
sphinx==4.3.2
    # via
    #   -r requirements/doc.txt
    #   sphinxcontrib-asyncio
    #   sphinxcontrib-blockdiag
    #   sphinxcontrib-spelling
    #   sphinxcontrib-towncrier
sphinxcontrib-applehelp==1.0.2
    # via sphinx
sphinxcontrib-asyncio==0.3.0
    # via -r requirements/doc.txt
sphinxcontrib-blockdiag==3.0.0
    # via -r requirements/doc.txt
sphinxcontrib-devhelp==1.0.2
    # via sphinx
sphinxcontrib-htmlhelp==2.0.0
    # via sphinx
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==1.0.3
    # via sphinx
sphinxcontrib-serializinghtml==1.1.5
    # via sphinx
sphinxcontrib-spelling==7.3.2 ; platform_system != "Windows"
    # via -r requirements/doc-spelling.txt
sphinxcontrib-towncrier==0.2.1a0
    # via -r requirements/doc.txt
toml==0.10.2
    # via
    #   cherry-picker
    #   pre-commit
    #   pytest
    #   towncrier
tomli==1.2.2
    # via
    #   coverage
    #   mypy
    #   pep517
    #   slotscheck
towncrier==21.3.0
    # via
    #   -r requirements/doc.txt
    #   sphinxcontrib-towncrier
tqdm==4.62.3
    # via python-on-whales
trustme==0.9.0 ; platform_machine != "i686"
    # via -r requirements/test.txt
typer==0.4.0
    # via python-on-whales
typing-extensions==4.1.1
    # via
    #   -r requirements/typing-extensions.txt
    #   aioredis
    #   mypy
    #   pydantic
uritemplate==4.1.1
    # via gidgethub
urllib3==1.26.7
    # via requests
virtualenv==20.10.0
    # via pre-commit
wait-for-it==2.2.1
    # via -r requirements/test.txt
webcolors==1.11.1
    # via blockdiag
wheel==0.37.0
    # via pip-tools
yarl==1.7.2
    # via -r requirements/base.txt

# The following packages are considered to be unsafe in a requirements file:
pip==21.3.1
    # via pip-tools
setuptools==58.4.0
    # via
    #   blockdiag
    #   gunicorn
    #   pip-tools
    #   sphinx
