name: Clear needs-info/pr-unfinished on activity
on:
  pull_request:
    types: [synchronize, review_requested]
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  clear-pr-unfinished:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Remove label
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: |
            needs-info
            pr-unfinished
