name: Pre-commit auto-update
on:
  schedule:
  - cron: '0 0 * * *'
permissions: {}
jobs:
  auto-update:
    if: github.repository_owner == 'aiohttp'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Install dependencies
      run: >-
        pip install -r requirements/lint.in -c requirements/lint.txt
    - name: Run pre-commit autoupdate
      run: pre-commit autoupdate
    - id: generate_token
      uses: tibdex/github-app-token@v2.1
      with:
        app_id: ${{ secrets.BOT_APP_ID }}
        private_key: ${{ secrets.BOT_PRIVATE_KEY }}
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        token: ${{ steps.generate_token.outputs.token }}
        branch: update/pre-commit-autoupdate
        title: Auto-update pre-commit hooks
        commit-message: Auto-update pre-commit hooks
        body: |
          Update versions of tools in pre-commit
          configs to latest version
        labels: dependencies backport-3.10 backport-3.11
